{% extends 'picture/layout.html.twig' %}
{% import "macros/datatables.html.twig" as tables %}
{% set columns = {
    'Nom': {'class': 'alwaysVisible', 'orderBy': true},
    'Image': {'class': 'alwaysVisible text-center', 'orderBy': true},
    'Description': {'class': 'alwaysVisible', 'orderBy': true},
    '<i class="fas fa-project-diagram"  data-toggle="tooltip" data-placement="top" title="Nombre de rubrique"></i>': {'class': 'alwaysVisible text-center', 'orderBy': false},
    '<i class="fas fa-project-diagram"  data-toggle="tooltip" data-placement="top" title="Nombre de sous rubrique"></i>': {'class': 'alwaysVisible text-center', 'orderBy': false},
    'actions': {'class': 'alwaysVisible', 'orderBy': false}
} %}
    {% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
{% block page_subtitle %}Liste{% endblock %}

{% block breadcrumb %}
    {% if is_granted('ROLE_GESTIONNAIRE') %}
        <div class="row mb-2">
            <div class="col-12 text-right">
                {{ btn.link_button(
                    '',
                    path(route_add),
                    'fa fa-plus',
                    'success',
                    'success'
                ) }}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block page_content %}


    {% import "@AdminLTE/Macros/default.html.twig" as macro %}

    {{ tables.datatable_header(tableName, columns,  {'striped': true}) }}
    {% for item in items %}
        <tr>
            <td>
                <a href="{{ path(route_show,{id:item.id}) }}"
                   class="text-{{ item.isEnable ? 'primary' : 'danger text-bold' }}">
                    {{ item.name }}
                </a>
            </td>
            <td class="text-center ">
                <img src="{{ absolute_url( asset(item.Href)) }}" class="card-img-top rounded-top rounded-lg " style="width:100px"
                     alt="{{ item.name }}">
            </td>
            <td>{{ item.content | raw }}</td>

            <td class="text-center">

            </td>
            <td class="text-center">

            </td>
            <td class=" d-flex  justify-content-end ">
                {% if is_granted('ROLE_GESTIONNAIRE') %}
                    {{ btn.link_button(
                        'Modifier',
                        path(route_edit,{id:item.id}),
                        'fa fa-edit',
                        'purple',
                        'primary btn-sm'
                    ) }}
                {% endif %}
            </td>
        </tr>
    {% else %}
        {{ tables.datatable_data_else(columns) }}
    {% endfor %}
    {{ tables.datatable_footer(tableName,1) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tables.datatable_javascript(tableName,1,columns) }}
{% endblock %}