{% extends 'backpack/layout.html.twig' %}
{% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
{% import "macros/delele.html.twig" as del %}
{% import "macros/submit.html.twig" as sub %}
{% import "macros/save.html.twig" as save %}


{% block page_subtitle %}Création
{% endblock %}

{% block breadcrumb %}
	{% import "backpack/_btn_actions.html.twig" as actions %}

	{{ actions.backpack(
        'add',
        'draft',
        true,
        null,
        null
    ) }}
{% endblock %}


{% block page_content %}
	{{ render(controller('App\\Controller\\GPIController::showGPIAction', { 'page': 'backpack_add'})) }}

	<div class="row justify-content-center">
		<div class="" style="width:960px">
			{{ form_start(form) }}
			<div style="width:630px">
                {{ include(domaine ~ '/_edit/_rubric.html.twig') }}
				{{ include(domaine ~ '/_edit/_name.html.twig') }}
				{{ save.btn()}}
			</div>
		</div>

		<p class="mt-5 mb-5"></p>
		<p class="mt-5 mb-5"></p>
</div>

		<div class="row justify-content-center">
			<div class="{{ col_1_2 }}">




			</div>
		</div>

		<div class="d-none">
			{{ form_rest(form) }}
			{% import "macros/submit.html.twig" as sub %}
			{{ sub.btn() }}
		</div>
		{{ form_end(form) }}

	{% endblock %}

	{%  block javascripts %}
		{{ parent() }}
		<script src="{{ absolute_url( asset('js/fillCombobox.js')) }}"></script>
		<script type="text/javascript">
			$(function () {
fillComboboxRubric('#cmb_rubric', "{{ path('ajax_fill_combobox_rubrics') }}", true);
}); 

$('#cmb_rubric').change(function () {
fillComboboxRubricChained('#cmb_rubric', '#cmb_underrubric', "{{ path('ajax_fill_combobox_underrubrics') }}", true, false);
});

$('#backpack_new_updatedAt_date_month').val(new Date().getMonth() + 1);
$('#backpack_new_updatedAt_date_day').val(new Date().getDay());
$('#backpack_new_updatedAt_date_year').val(new Date().getFullYear());
$('#backpack_new_updatedAt_time_hour').val(new Date().getHours());
$('#backpack_new_updatedAt_time_minute').val(new Date().getMinutes());

$('#cmb_underrubric').change(function () {
$('#backpack_new_underrubric').val($('#cmb_underrubric').val());
});
		</script>
	{% endblock %}
