{% extends 'backpack/layout_tree.html.twig' %}

{% block title %}Porte-document {{ state | workflowGetNameOfState }}{% endblock %}

{% block page_subtitle %}
    <span class="text-muted">
    {{ count }} {{ state | workflowGetNameOfState }}{{ count>1?'s':'' }}
        {% if underrubric  %}
            dans la sous-rubrique {{ underrubric.name }}
        {% endif %}
    </span>
{% endblock %}


{% import "backpack/actions.html.twig" as actions %}
{% block breadcrumb %}
    {{ actions.backpack('state',state,owner,item, underrubric  ? underrubric:null) }}
{% endblock %}


