{% set data = (transition | workflowGetModalDataForTransition) %}
<div class="card-body">
    <div class="ribbon-wrapper ribbon-lg">
        <div class="ribbon " {{ include ('workflow/_color/_style_background.html.twig',{'state':data.state}) }}>
            <small>{{ data.state | workflowGetShortNameOfState }}</small>
        </div>
    </div>
    <p class="mt-2 "></p>

    {% if workflow_can(action, data.transition ) %}
            <p class="text-center text-success">
                <i class="far fa-check-circle fa-4x "></i>
            </p>

            {% for message in action | workflowGetExplains(data.transition) %}
                <p>
                    <small>
                        {{ message }}
                    </small>
                </p>
            {% endfor %}
</div>
<div class="card-footer">
            {% if choice==true %}

                {{ include('workflow/_state_btn.html.twig',{
                    'state':data.state,
                    'transition': data.transition,
                    'action':data.btn_label,
                    'css':'mb-3'
                }) }}
            {% endif %}
</div>
    {% else %}
        <p class="text-center text-warning">
            <i class="far fa-times-circle fa-4x "></i>
        </p>

        <span class="text-warning">Les conditions ne sont pas réunies</span>
        {% set iconSuccess='<i class="fa fa-check-circle"></i>' %}
        {% set iconDanger='<i class="fa fa-stop-circle"></i>' %}

        {% set checkMessages=action | workflowGetCheckMessages(data.transition) %}
        {% if checkMessages | length >0 %}
            <ul class="list-unstyled mt-1 p-2 rounded-1 bg-light">

                {% for checkMessage in checkMessages %}
                    <li>
                        <small>
                            {% if checkMessage.type == 'success' %}
                                <span class="text-success  ">
                                {{ iconSuccess | raw }}
                                    {{ checkMessage.message }}
                            </span>
                            {% elseif checkMessage.type == 'danger' %}
                                <span class="text-danger  ">
                                {{ iconDanger | raw }}
                                    {{ checkMessage.message }}
                            </span>
                            {% elseif checkMessage.type == 'info' %}
                                <span class="text-info  ">
                        {{ checkMessage.message }}
                    </span>
                            {% else %}
                                {{ checkMessage.message }}
                            {% endif %}
                        </small>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
</div>
    {% endif %}

