{% extends 'base.html.twig' %}


{% block page_title %}Profil{% endblock %}
{% block page_subtitle %}Changement du mot de passe{% endblock %}


    {% block breadcrumb %}
        {% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
        {% import "macros/submit.html.twig" as sub %}
        <div class="btn-toolbar  float-right" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                {{ btn.link_button(
                    '',
                    path('profil'),
                    'fas fa-user',
                    'secondary',
                    'secondary'
                ) }}
                {{ btn.link_button(
                    '',
                    path('avatar'),
                    'fas fa-user-circle',
                    'secondary',
                    'secondary'
                ) }}
                {{ sub.btn_onclick() }}

                <i class=""></i>
            </div>
        </div>
    {% endblock %}


{% block page_content %}

    <div class="row justify-content-center">
        {% embed 'widgets/card-widget.html.twig' %}
            {% import "macros/submit.html.twig" as sub %}
            {% block card_class %}col-md-4{% endblock %}
            {% block card_body %}
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.plainPasswordOld) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.plainPassword) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.plainPasswordConfirmation) }}
                    </div>
                </div>
                <div class="d-none">
                    {{ sub.btn() }}
                </div>
                {{ form_end(form) }}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}