{% import "macros/file.html.twig" as file %}
{% for backpackFile in backpack.backpackFiles %}


	<tr>
		<td >
			<a target="_blank" href="{{ path('backpack_file_show',{'id':backpack.id, 'fileId':backpackFile.id}) }}" style="color:#57a7fe; text-decoration: none">
				{{ backpackFile.title }}.{{ backpackFile.fileExtension }}
			</a>
            <br/>
			<span class="text-muted">
				{{ backpackFile.content | raw }}
			</span>
		</td>

		<td >
			{%  set color='black' %}
			{% if backpackFile.modifyAt %}
				{% set difference = date("today").diff(date(backpackFile.modifyAt)) %}
				{% set leftDays = difference.days %}
				{% if leftDays <8 %}
					{%  set color='#f012be' %}
				{% endif %}
			{% endif %}
			<span style="color:{{ color }}">
				{{ backpackFile.modifyAt  | date('d/m/Y H:i') }}
			</span>
		</td>
	</tr>

{% endfor %}
