{% macro vignette(item, route_show, route_underthematic_show) %}
    {% embed 'widgets/card-widget.html.twig' %}
        {% block card_class %} h-100 border-light shadow{% endblock %}
        {% block card_img %}
            <a href="{{ path(route_show,{id:item.id}) }}" data-html="true"
               data-toggle="tooltip" data-placement="top" title="{{ item.content }}">
                {% if item.picture %}
                    <img src="{{ absolute_url( asset(item.picture.href)) }}"
                         class="card-img-top  "
                         alt="{{ item.picture.name }}">
                {% else %}
                    <img src="{{ absolute_url( asset('img/vignette.jpg')) }}"
                         class="card-img-top "
                         alt="{{ item.underthematic.name }}">
                {% endif %}
            </a>
        {% endblock %}
        {% block card_body_class %}text-center{% endblock %}
        {% block card_body %}
            <a href="{{ path(route_show,{id:item.id}) }}" data-html="true"
               data-toggle="tooltip" data-placement="top" title="{{ item.content }}">
                <h5 class="text-bold {{ item.isEnable?'':'text-danger' }}">{{ item.name }}</h5>
            </a>
            <div class="text-muted">
                <a href="{{ path(route_underthematic_show,{id:item.underthematic.id}) }}" data-html="true"
                   data-toggle="tooltip" data-placement="top" title="{{ item.underthematic.content }}">
                    <span class="{{ item.underthematic.isEnable?'':'text-danger' }}">{{ item.underthematic.name }}</span>
                </a>
                <br/>
                {% set nbr=0 %}
                <small class="text-muted">{{ nbr }} PORTE-DOCUMENT{{ nbr>1?'S':'' }}</small>
            </div>
        {% endblock %}
    {% endembed %}
{% endmacro %}

{% macro vignettes_by_underthematic(items, route_show, route_underthematic_show) %}



    {% import _self as macro %}
    {% set t_c="" %}
    {% set t_p="" %}
    {% set t_same=false %}
    {% set t_present=false %}
    {% set t_open=false %}

    {% for item in items %}
        {% set t_c=item.underthematic.name %}

        {% set t_same=  t_c == t_p ? true : false %}
        {% set t_present=  t_c is empty ? false : true %}

        {% if t_same == false and t_present==true %}

            {{ t_open ?'</div>':'' }}
            {% set t_open=true %}
            {% import "macros/underthematic.html.twig" as tmt %}
            {{ tmt.anchor(item.underthematic) }}
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">

        {% endif %}
        <div class="col mb-4">
            {{ macro.vignette(item,route_show,route_underthematic_show) }}
        </div>
        {% set t_p=item.underthematic.name %}

    {% endfor %}
    {{ t_open ?'</div>':'' }}
{% endmacro %}