{% if item is defined %}

    <div class="row justify-content-center">
        <div class="{{ col_1_2 }}">
            {% embed 'widgets/card-widget.html.twig' %}
                {% block card_class %} card-primary card-outline{% endblock %}
                {% block card_body_class %} box-profile{% endblock %}
                {% block card_body %}
                    <h3 class="profile-username text-center">{{ item.name }}</h3>

                    <p class="text-muted text-center">
                        <a href="{{ path('organisme_show',{id:item.organisme.id}) }}">
                            {{ item.organisme.fullName }}
                        </a>
                    </p>

                    <small class="float-right">
                        {% if item.isEnable %}
                            <span class="text-success">Visible</span>
                        {% else %}
                            <span class="text-danger">Masquée</span>
                        {% endif %}
                    </small>
                {% endblock %}
            {% endembed %}

            {% if item.content %}
                {% embed 'widgets/card-widget.html.twig' %}
                    {% block card_body %}
                        {{ item.content |raw }}
                    {% endblock %}
                {% endembed %}
            {% endif %}

            {% embed 'widgets/card-widget.html.twig' %}
                {% block card_title %}Habilitations{% endblock %}
                {% block card_body_class %}p-0{% endblock %}
                {% block card_body %}
                    <div class="list-group list-group-flush dropright">
                        <div class="list-group-item list-group-item-action">
                            {% if item.isShowRead %}
                                <span class="text-success"><i class="fas fa-check"></i> Lecture</span>
                            {% else %}
                                <span class="text-danger"><i class="fas fa-times"></i> Lecture</span>
                            {% endif %}
                        </div>
                        <div class="list-group-item list-group-item-action">
                            {% if item.isShowWrite %}
                                <span class="text-success"><i class="fas fa-check"></i> Ecriture</span>
                            {% else %}
                                <span class="text-danger"><i class="fas fa-times"></i> Ecriture</span>
                            {% endif %}
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}

            {% embed 'widgets/card-widget.html.twig' %}
                {% block card_title %}Utilisateurs{% endblock %}
                {% block card_body %}
                    {% import "macros/user.html.twig" as usr %}
                    {{ usr.views(item.users) }}
                {% endblock %}
            {% endembed %}
        </div>
    </div>

{% endif %}