{% for backpackLink in backpack.backpackLinks %}

    {% set color='text-gray'%}

    {% if backpackLink.modifyAt %}
        {% set difference = date("today").diff(date(backpackLink.modifyAt)) %}
        {% set leftDays = difference.days %}
        {% if leftDays <8 %}
            {% set color='text-fuchsia'%}
        {% endif %}
    {% endif %}
    <tr>
        <td class="text-center">
            <i class="fas fa-globe  fa-3x align-self-start mr-3 {{ color }} mt-2"></i>
        </td>
        <td>
            <a target="_blank" href="{{ backpackLink.link }}" data-html="true"
               data-toggle="tooltip" data-placement="top" title="{{ backpackLink.content }}"
               data-container="body">{{ backpackLink.title }}
                <span class="small">( {{ backpackLink.link }} )</span>
            </a>
            <br/>
            <div class="small text-muted">
                {{ backpackLink.content | raw }}
            </div>
        </td>
        <td class="text-center">
            <span class="ml-3 text-muted d-flex">{{ backpackLink.modifyAt  | date('d/m/Y H:i:s') }}</span>
        </td>
        <td>

        </td>
    </tr>
{% endfor %}
