{% extends 'admin_underrubric/layout.html.twig' %}
{% import "macros/datatables.html.twig" as tables %}
{% set columns = {
    'Image de présentation': {'class': 'alwaysVisible', 'orderBy': false},
    'Thématique / Rubrique': {'class': 'alwaysVisible', 'orderBy': true},
    'Thématique de la sous rubrique': {'class': 'alwaysVisible', 'orderBy': true},
    'Nom de la sous rubrique': {'class': 'alwaysVisible', 'orderBy': true},

    'Description': {'class': 'alwaysVisible', 'orderBy': true},
    'Ordre d\'affichage': {'class': 'alwaysVisible', 'orderBy': true},
    '<i class="fas fa-project-diagram"  data-toggle="tooltip" data-placement="top" title="Nombre de sous-rubrique"></i>': {'class': 'alwaysVisible text-center', 'orderBy': false},
    '<i class="fas fa fa-eye"  data-toggle="tooltip" data-placement="top" title="Consultable par tous"></i>': {'class': 'alwaysVisible text-center', 'orderBy': false},
    '<i class="fa fa-boxes"  data-toggle="tooltip" data-placement="top" title="Corbeille de lecture"></i>': {'class': 'alwaysVisible text-center', 'orderBy': false},
    '<i class="fa fa-boxes"  data-toggle="tooltip" data-placement="top" title="Corbeille d\'écriture"></i>': {'class': 'alwaysVisible text-center', 'orderBy': false},
    'actions': {'class': 'alwaysVisible', 'orderBy': false}
} %}

{% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}

{% block page_subtitle %}Liste{% endblock %}

{% block breadcrumb %}
    {% import "default/actions.html.twig" as actions %}
    {{ actions.adminSort(
        'list',
        is_granted('ROLE_GESTIONNAIRE'),
        null,
        domaine
    ) }}
{% endblock %}

{% block page_content %}
    {% import "@AdminLTE/Macros/default.html.twig" as macro %}

    {{ tables.datatable_header(tableName, columns,  {'striped': true}) }}
    {% for item in items %}
        <tr>
            <td class="align-middle text-center ">
                {% if item.picture %}
                <img src="{{ absolute_url( asset(item.picture.Href)) }}" class="card-img-top rounded-top rounded-lg " style="width:100px"
                     alt="{{ item.picture.name }}">
                {% endif %}
            </td>
            <td class="align-middle">
                <a href="{{ path('thematic_show',{id:item.rubric.thematic.id}) }}"
                   class="text-{{ item.rubric.thematic.isEnable ? 'primary' : 'danger text-bold' }}">
                    {{ item.rubric.thematic.name }} ({{ item.rubric.thematic.showOrder }})
                </a>
                <br/>
                <a href="{{ path('admin_rubric_show',{id:item.rubric.id}) }}"
                   class="text-{{ item.rubric.isEnable ? 'primary' : 'danger text-bold' }}">
                    {{ item.rubric.name }} ({{ item.rubric.showOrder }})
                </a>
            </td>
            <td class="align-middle">
                <a href="{{ path('underthematic_show',{id:item.underthematic.id}) }}"
                   class="text-{{ item.underthematic.isEnable ? 'primary' : 'danger text-bold' }}">
                    {{ item.underthematic.name }} ({{ item.underthematic.showOrder }})
                </a>
            </td>
            <td class="align-middle">
                <a href="{{ path(route_show,{id:item.id}) }}"
                   class="text-{{ item.isEnable ? 'primary' : 'danger text-bold' }}">
                    {{ item.name }}
                </a>
            </td>
            <td class="align-middle">{{ item.content | raw }}</td>
            <td class="align-middle text-center">{{ item.showOrder }}</td>
            <td class="align-middle text-center">
            </td>
            <td class="align-middle text-center">
                <span class="text-{{ item.isShowAll ? 'primary' : 'light' }} " ><i class="fas fa-circle"></i></span>
            </td>
            <td class="align-middle text-center">
                {% if   item.readers.count==0 %}
                    <span class="text-light" ><i class="fas fa-circle"></i></span>
                {% else %}
                    <small class="badge bg-info">{{ item.readers.count}}</small>
                {% endif %}
            </td>
            <td class="align-middle text-center">
                {% if   item.writers.count==0 %}
                    <span class="text-light" ><i class="fas fa-circle"></i></span>
                {% else %}
                    <small class="badge bg-info">{{ item.writers.count}}</small>
                {% endif %}
            </td>
            <td class="  align-middle text-right ">
                {% if is_granted('ROLE_GESTIONNAIRE') %}
                    {{ btn.link_button(
                        'Modifier',
                        path(route_edit,{id:item.id}),
                        'fa fa-edit',
                        'purple',
                        'primary btn-sm'
                    ) }}
                {% endif %}
            </td>
        </tr>
    {% else %}
        {{ tables.datatable_data_else(columns) }}
    {% endfor %}
    {{ tables.datatable_footer(tableName,6) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tables.datatable_javascript(tableName,1,columns) }}
{% endblock %}