{% if item is defined %}

    <div class="row justify-content-center">
        <div class="{{ col_1_2 }}">
            {% embed 'widgets/card-widget.html.twig' %}
                {% block card_class %} card-primary card-outline{% endblock %}
                {% block card_body_class %} box-profile{% endblock %}
                {% block card_body %}
                    <h3 class="text-center">
                        {{ item.name }}
                    </h3>
                    <div class=" text-center">
                        <img src="{{ absolute_url( asset(item.Href)) }}" class="card-img-top rounded shadow " id="anchor_picture"
                             alt="{{ item.name }}">
                    </div>

                    <small class="float-right">
                        {% if item.isEnable %}
                            <span class="text-success">Visible</span>
                        {% else %}
                            <span class="text-danger">Masquée</span>
                        {% endif %}
                    </small>
                {% endblock %}
            {% endembed %}

            {% if item.content %}
                {% embed 'widgets/card-widget.html.twig' %}
                    {% block card_body %}
                        {{ item.content |raw }}
                    {% endblock %}
                {% endembed %}
            {% endif %}

            {% if item.rubrics |length >0 %}
                {% embed 'widgets/card-widget.html.twig' with {collapsible:true, collapsed:false} %}
                    {% block card_title %}Rubriques : {{ item.rubrics |length }}{% endblock %}
                    {% block card_body %}
                        {% import "macros/rubric.html.twig" as rbc %}
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3">
                            {% for rubric in item.rubrics %}
                                <div class="col mb-4">
                                    {{ rbc.vignette(rubric,'admin_rubric_show','thematic_show') }}
                                </div>
                            {% endfor %}
                        </div>

                    {% endblock %}
                {% endembed %}
            {% endif %}

        </div>
    </div>


{% endif %}