{% extends 'corbeille/layout.html.twig' %}
{% import "macros/datatables.html.twig" as tables %}
{% set columns = {
    'Nom de l\'organisme': {'class': 'alwaysVisible', 'orderBy': true},
    'Nom de la corbeille': {'class': 'alwaysVisible ', 'orderBy': true},
    'Description': {'class': 'alwaysVisible', 'orderBy': true},
    '<i class="fa fa-eye"  data-toggle="tooltip" data-placement="top" title="Corbeille pour la consultation"></i>': {'class': 'alwaysVisible text-center', 'orderBy': false},
    '<i class="fa fa-bullhorn"  data-toggle="tooltip" data-placement="top" title="Corbeille pour le pilotage"></i>': {'class': 'alwaysVisible text-center', 'orderBy': false},
    '<i class="fa fa-users"  data-toggle="tooltip" data-placement="top" title="Nombre d\'utilisateurs"></i>': {'class': 'alwaysVisible text-center', 'orderBy': false},
    '<i class="fa fa-project-diagram" data-toggle="tooltip" data-placement="top" title="Nombre de rubrique"></i>': {'class': 'alwaysVisible text-center', 'orderBy': false},
    '<i class="fa fa-project-diagram" data-toggle="tooltip" data-placement="top" title="Nombre de sous-rubrique"></i>': {'class': 'alwaysVisible text-center', 'orderBy': false},
    'actions': {'class': 'alwaysVisible', 'orderBy': false}
} %}
    {% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
{% block page_subtitle %}Liste{% endblock %}

{% block breadcrumb %}
    {% if is_granted('ROLE_GESTIONNAIRE') %}
        <div class="row mb-2">
            <div class="col-12 text-right">
                {{ btn.link_button(
                    '',
                    path(route_add),
                    'fa fa-plus',
                    'success',
                    'success'
                ) }}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block page_content %}


    {% import "@AdminLTE/Macros/default.html.twig" as macro %}

    {{ tables.datatable_header(tableName, columns,  {'striped': true}) }}
    {% for item in items %}
        <tr>
            <td class="align-middle">
                <a href="{{ path('organisme_show',{id:item.organisme.id}) }}"
                   class="text-{{ item.organisme.isEnable ? 'primary' : 'danger text-bold' }}">
                    {{ item.organisme.ref }} - {{ item.organisme.name }}
                </a>
            </td>
            <td class="align-middle">
                <a href="{{ path(route_show,{id:item.id}) }}"
                   class="text-{{ item.isEnable ? 'primary' : 'danger text-bold' }}">
                    {{ item.name }}
                </a>
            </td>
            <td class="align-middle col-4">{{ item.content | raw }}</td>
            <td class="align-middle text-center">
                <span class="text-{{ item.isShowRead ? 'info' : 'light' }}"><i class="fas fa-circle"></i></span>
            </td>
            <td class="align-middle text-center">
                <span class="text-{{ item.isShowWrite ? 'info' : 'light' }}"><i class="fas fa-circle"></i></span>
            </td>

            <td class="align-middle text-center">
                {% if   item.users.count==0 %}
                    <span class="text-light"><i class="fas fa-circle"></i></span>
                {% else %}
                    <small class="badge bg-info">{{ item.users.count }}</small>
                {% endif %}
            </td>
            <td class="align-middle text-center">

            </td>
            <td class="align-middle text-center">

            </td>
            <td class=" align-middle text-right">
                {% if is_granted('ROLE_GESTIONNAIRE') %}
                    {{ btn.link_button(
                        'Modifier',
                        path(route_edit,{id:item.id}),
                        'fa fa-edit',
                        'purple',
                        'primary btn-sm'
                    ) }}
                {% endif %}
            </td>
        </tr>
    {% else %}
        {{ tables.datatable_data_else(columns) }}
    {% endfor %}
    {{ tables.datatable_footer(tableName,1) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tables.datatable_javascript(tableName,2,columns) }}
{% endblock %}