{% if item is defined %}

    {% embed 'widgets/card-widget.html.twig' %}
        {% block card_title %}{{ item.ref }}<span class="text-bold"> {{ item.name }}</span>{% endblock %}
        {% block card_body %}
            <div class="row">
                <div class="col-sm-1 shadow">
                    <div class="mr-1 ml-1 p-3 ">
                        <p class="text-center {{ item.isEnable ?'text-success':'text-warning' }}">
                            <i class="fas fa-{{ item.isEnable ?'check':'times' }} fa-3x"></i><br>
                            Utilisable
                        </p>
                    </div>
                </div>

                <div class="col-sm-11">
                    {{ item.content | raw }}
                </div>
            </div>
        {% endblock %}
        {% block card_after %}
            {% import "macros/delele.html.twig" as del %}
            {{ del.delete_form(route_del,item.id, 'show') }}
        {% endblock %}
    {% endembed %}

{% endif %}